<a href="https://colab.research.google.com/github/usm-cos-432/InClass/blob/master/chapter2/NumpyPandas2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import torch

In [ ]:
df = pd.read_csv("http://www.cs.usm.maine.edu/~macleod/courses/cos432/Automobile_data.csv")

### **Display the first 5 records**

### **Find the most expensive car**

### **Drop rows that have nan values**

In [ ]:
keepColumns = [ 'wheel-base', "length", 'horsepower', 'average-mileage']

### **Assign the variable y to the 'price' column and assign variable X to the columns listed in keepColumns**

### **Display the type of X and the type of X.values**

### **Change the dtype of X and y to float32**

### **Create a new tensor named tX from X and a new tensor ty from y**

### **Assign tw to be a tensor array with values [491.2 , -9.1, 190.9, 111.1] and tb to be a tensor with value -54567.9**

### **Print the shape of tX and the shape of tw**

### **Multiply tX times tw  and assign result to varible estP**

###  **Add the tensor tb to all elements of the array estP (what technique helps here?)**

### **Calculate the absolute value of the difference between estP and the tensor ty**

### **Sum up the above differences and assign to the variable loss**

### **Any thoughts on what we accomplished here ?**